<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Vernon S. Brown" />
   
<meta name="citation_title" content="Supervisor Influence on Psychological Safety in U.S. Federal Government Organizations: A Qualitative Descriptive Study">
<meta name="citation_author" content="Brown, Vernon S.">
<meta name="citation_publication_date" content="2023/05/31">
<meta name="citation_journal_title" content="GCU Dissertations">
<meta name="citation_pdf_url" content="https://atidbit.io/files/BrownVS_GCU_DIS_EdD-2023.pdf">

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="https://use.typekit.net/zdr1udd.css"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->
<div class="site">

  {{ content }}

</div>
</body>
</html>
